$responsive-374: "only screen and (max-width: 374px)";

$responsive-480: "only screen and (min-width: 375px) and (max-width: 480px)";

$responsive-600: "only screen and (min-width: 481px) and (max-width: 650px)";

$responsive-800: "only screen and (min-width: 651px) and (max-width: 800px)";

$responsive-1000: "only screen and (min-width: 800px) and (max-width: 1000px)";

$responsive-1200: "only screen and (min-width: 1001px) and (max-width: 1200px)";

$responsive-1270: "only screen and (min-width: 1201px) and (max-width: 1270px)";

@mixin border-radius($radius){
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -border-radius: $radius;
}
.carousel-inner{
    height: 400px;
    margin-bottom: 10px; 
    h5 {
        color: black;
    }
}
.body {
    display: block;
}
.row {
    width: 100%;
}

.info-style{
    font-size: 15px; 
}

#shop-app{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }

  h1, h2 {
  font-weight: normal;
  margin: inherit;
  text-align: center;
}


h4 {
        margin-left: -31%; 
} 

ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    display: inline-block;
    margin: 0 0px;
  }

  .paginate-list {
    width: 100%;
    margin-left: -40px;
    text-align: center;
    margin-bottom: 10px;
    li { 
      &:before {
        content: ' ';
        font-weight: bold;
        margin-top: 10px;
      }
      img{
          margin-top: -4%;
          width: 100%;
         height: 350px;
      }
    }
  
    li{
      width: 43%;
      margin: 2%;
    }
  }

  .paginate-links{
    li {
        display: inline-block;
        margin: 0 10px;
      }
      width: 100%;
      text-align: center;
}

.paginate-links.items {
    user-select: none;
    a {
      cursor: pointer;
    }
    li.active a {
      font-weight: bold;
    }
    li.next:before {
      content: ' | ';
      margin-right: 13px;
      color: #ddd;
    }
    li.disabled a {
      color: #ccc;
      cursor: no-drop;
    }
  }
  
  a {
    color: #2b6981;
  }
  
  button{
      i {
          font-size: 0em;
          color: #007bff;
          padding: 3.5%;
          margin-right: 0.5%;
      }
  
      :active {
          border: 0px;
          padding: 0%;
          margin: 0;
          opacity: 1;
          transition: 0s
      }
      :visited{
          border: 0px;
          padding: 0%;
      }
      
  }

  ul {
    button{
        right: 3%;
        background-color: #fff;   
        font-size: 25px;
        width: 80px;
    }
}

.navigation {
    ul {
        button{
            right: 0%;
            float: right;
            position: absolute;
            height: 2.5em;
            position: fixed;
            z-index: 2;
        }
    }
    
}

.cartdisplay{
    right: 0%;
        top: 0%;
        bottom: 0%;
        height: 50em;
        float: right;
        position: fixed;
        width: 50%;
        overflow: hidden;
        z-index: 2;
        background-color: #d0d7df;
    button {
        right: 0%;
        top: 0%;
        float: right;
    }

    .button {
      i {  
        color: #fff;
        }
    }

    ul {
        width: 100%;
        top: 20%;
        text-align: center;
    }
    
    ul {
        li{
        width: 50%;
        top: 20%;
        font-size: 5%;
        text-align: center;
        }
    }

}

.menlist{
    
    .row{
        width: 100%;
    }
}

.card {
    a {
        margin-top: 10%;
        margin-right:3%;
        margin-left: 3%;
    }
    img {
        margin-top: inherit;
    }
    margin: 0%;
    margin-left: -6%;
    margin-right: -6%;
}

.container{
    .nav{
          float: center;
          margin-left: 30%;
      }
}
.centertext{
  h2{
      text-align: center;
      margin-left: 45px;
  }
}


@media #{$responsive-374}{
    .paginate-list {
        margin-left: 3.5%; 
        li{
            width: 100%;
            text-align: center;
            left: 2%;
        }
        
    }
    ul {
        button{
            width: 45px;
            right: 0%;
            float: right;
            position: absolute;
        }
    }

   .navigation{
            button i {
            margin-left: -5px;
            margin-right: 0.5%;
        }
    }

    .cartdisplay{
        right: -7%;
            top: 0%;
            bottom: 0%;
            height: 50em;
            float: right;
            position: fixed;
            width: 25%;
            overflow: hidden;
            background-color: #2c3e50;
        button {
            right: 0%;
            top: 0%;
            float: right;
        }
    
        .button {
          i {  
            color: #fff;
            }
        }
    }

    ul {
        width: 100%;
        top: 20%;
        text-align: center;
    }
    
    ul {
        li{
        width: 50%;
        top: 20%;
        font-size: 5%;
        text-align: center;
    }
}
}


@media #{$responsive-480}{
    .paginate-list {
        margin-left: 0.5%; 
        li{
            width: 90%;
            text-align: center;
            left: 0%;
        }
        
    }
    ul {
        button{
            right: 0%;
            float: right;
            position: absolute;
            width: 15%;
        }
    }
}

@media #{$responsive-600}{
    .paginate-list {
        margin-left: 0.5%; 
        li{
            width: 90%;
            text-align: center;
            left: 0%;
        }
        
    }
    ul {
        button{
            right: 0%;
            float: right;
            position: absolute;
        }
    }
}

@media #{$responsive-800}{
    .paginate-list {
        margin-left: 18.5%; 
        li{
            width: 79%;
            text-align: center;
            left: 35%;
        }
        
    }
    ul {
        button{
            margin-left: 0%;
            margin-right: 0em;
        }
    }
}

@media #{$responsive-1000}{
    ul {
        button{
            margin-left: 0%;
            margin-right: 0em;
        }
    }

    .paginate-list {
        margin-left: 7px; 
        li{
            width: 100%;
            text-align: center;
            left: 35%;
            margin: 3%;
            margin-left: 18%;
        }
        
    }
}


@media #{$responsive-1200}{
    .navigation {
     ul {
         button{
            right: 0%;
            float: right;
            position: absolute;
            
         }
     }
 }
 
     .paginate-list {
         margin: 0px auto;
         display: block;
         width: 100%;
         li {
             margin-right:35px;
             text-align: center;
           &:before {
             content: ' ';
             font-weight: bold;
             margin-top: 10px;
           }
         }
       }

       .cartdisplay{
        right: -7%;
            top: 0%;
            bottom: 0%;
            height: 100em;
            float: right;
            position: absolute;
            width: 23%;
            overflow: hidden;
            background-color: #d0d7df;
        button {
            right: 0%;
            top: 0%;
            float: right;
        }

        ul {
            width: 100%;
            top: 20%;
            text-align: center;
        }
        
        ul {
            li{
            width: 50%;
            top: 20%;
            font-size: 5%;
            text-align: center;
        }
    
        
        .button {
          i {  
            color: #fff;
            }
        }
    } 
  }
}

.paginate-list {
    margin: 0px auto;
    display: block;
    width: 100%;
    li {
        margin-right:35px;
        text-align: center;
      &:before {
        content: ' ';
        font-weight: bold;
        margin-top: 10px;
      }
    }
}

 .fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }
  .fade-enter, .fade-leave-to {
    opacity: 0;
  }

@media #{$responsive-1270}{
.navigation {  
     ul {
        button{
            margin-right: -9em;
            margin-left: 69%;
            
        }
    }
}

.row{
    width: 100%;
}

}

.navigation{
background-color:#fff;
a{
    color: #007bff;
}
}

.searchitem{
padding: 0px;
width: 200px;
border: 1px solid lighten(#007bff, 40%);
@include border-radius(3px);
box-shadow: 0 0 3px rgba(#2d86e6, .3);
}
.modal-mask {
position: fixed;
z-index: 9998;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, .5);
display: table;
transition: opacity .3s ease;
}

.modal-wrapper {
display: table-cell;
vertical-align: middle;
}

.modal-container {
width: 300px;
margin: 0px auto;
padding: 20px 30px;
background-color: #fff;
border-radius: 2px;
box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
transition: all .3s ease;
font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
margin-top: 0;
color: #42b983;
}

.modal-body {
margin: 20px 0;
}

.modal-default-button {
float: right;
}  

.modal-enter {
opacity: 0;
}

.modal-leave-active {
opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
-webkit-transform: scale(1.1);
transform: scale(1.1);
}
